body{
    background-image: linear-gradient(90deg, rgba(137,132,213,0.9475140397956058) 3%, rgba(122,208,179,0.8802871490393032) 47%, rgba(219,132,241,1) 98%);;
}
#corpo{
    border: 4px solid rgb(0, 0, 0);
    width: 20rem;
    margin: auto;
    text-align: center;
    padding: 4rem;
    background-image: linear-gradient(to right, red, darkred, purple);
    box-shadow: inset 4px 4px 4px 4px black;
    border-radius: 7rem;
    transform: translate(0%, 5%);
}
#generateRanNum{
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow:  5px 3px 4px 1.5px black;
    background-color: blue;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.1rem;
}
#generateRanNum:hover{
    background-color: rgba(255, 0, 0, 0.614);
    box-shadow:  inset 5px 3px 4px 1.5px black;
    cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#userNum{
    border-radius: 2rem;
    width:  6rem;
    height: 5rem;
    text-align: center;
    background-color: purple;
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    cursor:text;
    border: 3px inset black;
    box-shadow:  5px 3px 4px 1.5px black;
    margin: 1rem 1rem 2rem 1rem;
}
#userNum:hover{
    background-color: blue;
    box-shadow:  inset 5px 3px 4px 1.5px black;
}
#numGer{
    color:whitesmoke;
    font-weight: bold;
    text-decoration: underline;
}
#btn{
    padding: 10px;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow:  5px 3px 4px 1.5px black;
    background-color: blue;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}
#res{
    color: whitesmoke;
    font-size: 1.5rem;
}
h1{
    margin: 2rem;
    border: 3px inset black;
    background-image: linear-gradient(to bottom, blue, darkblue);
    box-shadow:  5px 3px 4px 1.5px black;
    align-items: center;
    border-radius: 10px;
}
h2{
    color: white;
}
h4{
    color:whitesmoke;
}
